@page
@model UserAccessControl.Pages.Shared.AdminPageModel

<div class="text-center">
    <h1 class="display-4">Página do Admin</h1>
    <p>Essa página é acessível apenas para usuários com função (role) de Admin.</p>
</div>
