@page
@model UserAccessControl.Pages.Shared.EspecialUserPageModel

<div class="text-center">
    <h1 class="display-4">Página de Especial User</h1>
    <p>Essa página é acessível apenas para usuário com a função (role) de Especial User.</p>
</div>