@page
@model UserAccessControl.Models.UserPageModel
@{
    // ViewData["Title"] = "User Page";
}

<div class="text-center">
    <h1 class="display-4">Página do User</h1>
    <p>Essa página é acessível para qualquer usuário autenticado.</p>
</div>