@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Acesse <a href="https://learn.microsoft.com/aspnet/core"> para criação de Web apps com ASP.NET Core</a>.</p>
</div>
